[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mactivate"]
	path = mactivate
	url = https://github.com/cran/mactivate
[submodule "SSsimple"]
	path = SSsimple
	url = https://github.com/cran/SSsimple
[submodule "widals"]
	path = widals
	url = https://github.com/cran/widals
